h1 {
    font-family: 'Open Sans', sans-serif;
    font-size: 3em;
    text-align: center;
}

p {
    font-family: 'Open Sans', sans-serif;
    left: 20%;
    right: 20%;
    position: relative;
    font-size: 1.5em;
}

button {
    left: 20%;
    right: 20%;
    position: relative;
    font-family: 'Open Sans', sans-serif;
    border-radius: .4em;
    -webkit-border-radius: .4em;
    -moz-border-radius: .4em;
    -ms-border-radius: .4em;
    -o-border-radius: .4em;
    background-color: rgb(225, 225, 225);
    border: 0;
    font-size: 1.5em;
    padding: .4em;
    transition: 100ms;
    -webkit-transition: 100ms;
    -moz-transition: 100ms;
    -ms-transition: 100ms;
    -o-transition: 100ms;
    box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
    cursor: pointer;
    color: lightblue;
}

button:hover {
    background-color: rgb(241, 239, 239);
    transition: 100ms;
    -webkit-transition: 100ms;
    -moz-transition: 100ms;
    -ms-transition: 100ms;
    -o-transition: 100ms;
}

button:active {
    background-color: rgb(210, 210, 210);
    transition: 50ms;
    -webkit-transition: 50ms;
    -moz-transition: 50ms;
    -ms-transition: 50ms;
    -o-transition: 50ms;
}

.visible {
    display: block;
}

